{% extends "base.html" %}

{% block content %}

<div class="card text-center mx-auto mt-5">
    <div class="card-body">
        <h2 class="card-title">Contacto</h5>
        <p class="card-text">
            Para cualquier consulta o incidencia, puedes enviarme un email a
            <a href="mailto:md.arturo@gmail.com?subject=Movies Database">md.arturo@gmail.com</a>,
            o consultar el código fuente y contribuir en el repositorio de
            <a href="https://github.com/artbrwn/Dev-Log-11-Movies-Database" target="_blank">GitHub</a>.
        </p>
    </div>
</div>


{% endblock %}