{% extends "base.html" %}

{% block content %}
<table border="1">
    <tr>
        <td rowspan="5">
            <img src="{{result.Poster}}" alt="Póster de la pelícual {{result.Title}}">
        </td>
        <td>{{result.Title}}</td>
    </tr>
    <tr>
        <td>Estreno: {{result.Year}}</td>
    </tr>
    <tr>
        <td>Duración: {{result.Runtime}}</td>
    </tr>
    <tr>
        <td>Dirigida por: {{result.Director}}</td>
    </tr>
    <tr>
        <td>Elenco: {{result.Actors}}</td>
    </tr>
    <tr>
        <td colspan="2">{{result.Plot}}</td>
    </tr>
</table>

<form action="/details/{{result.imdbID}}" method="POST">
    <label for="user_name" class="visually-hidden">Tu nombre:</label>
    <input type="text" name="user_name" id="user_name" placeholder="Escribe tu nombre." required>
    <label for="comment" class="visually-hidden">Comentario:</label>
    <input type="text" name="comment" id="comment" placeholder="Escribe tu comentario." required>
    <input type="submit" name="submit" id="submit" value="Publicar">
</form>

<table class="table table-striped">
    <tr>
        <th>
            Usuario
        </th>
        <th>
            Comentario
        </th>
        <th>
            Fecha de publicación
        </th>
    </tr>
    {% for comment in comments %}
    <tr>
        <td>{{comment.persona}}</td>
        <td>{{comment.comentario}}</td>
        <td>{{comment.fecha}}</td>
    </tr>
    {% else %}
    <tr>
        <td colspan="3">No hay comentarios en esta película.</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}