{% extends "base.html" %}

{% block content %}
<div class="container justify-content-center">
    <form action="/results" class="form-control-lg d-flex justify-content-center mt-1">
        <label for="search" class="visually-hidden">Busca por título o año</label>
        <input type="text" placeholder="Título o año de la película" id="search" name="search" class="bg-light rounded me-1" required>
        <button type="submit" class="btn btn-dark p-1" >
            <span class="material-symbols-outlined">search</span>
        </button>
    </form>
</div>
{% endblock %}