.visually-hidden { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip: rect(0,0,0,0); 
  border: 0; 
}

.index-poster{
  width: 1px;
  text-align: center;
}

.index-poster img {
    width: 100px;
    height: auto;
    border-radius: 4px;
}