.visually-hidden { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  padding: 0; 
  margin: -1px; 
  overflow: hidden; 
  clip: rect(0,0,0,0); 
  border: 0; 
}

form input {
  height: 50px;
  width: 300px;     
  font-size: 1.1rem;   
  padding: 0 15px; 
    
}

form button {
  height: 50px;        
  width: 50px;
  
}

.table-rounded {
			border-radius: .4rem;
			overflow: hidden;
		}

.index-poster {
  text-align: center;
  vertical-align: middle;
  width: 1px;    
  white-space: nowrap;
}

.index-poster img {
  display: block;
  margin: 0 auto;
  height: auto;
  width: auto;
  max-width: 200px;
  min-width: 50px;
}

footer{
  text-align: center;
}

.card{
  max-width: 600px;
}